<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="userId"
    [value]="service.formData.userId" />

    <h1>REGISTER HERE</h1>

    <div class="form-group">
        <label>Username</label>
        <input class="form-control form-control-lg" placeholder="Username"
        name="username" #username="ngModel" [(ngModel)]="service.formData.username" required [class.invalid]="username.invalid && username.touched">
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Password</label>
            <input type="password" class="form-control form-control-lg" placeholder="Password"
            name="password" #password="ngModel" [(ngModel)]="service.formData.password" required minlength="3" [class.invalid]="password.invalid && password.touched">
        </div>

        <div class="form-group col-md-6">
            <label>Email</label>
            <input type="email" class="form-control form-control-lg" placeholder="Email"
            name="email" #email="ngModel" [(ngModel)]="service.formData.email" required [class.invalid]="email.invalid && email.touched">
        </div>

        <div class="form-check col-md-6">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="Admin" checked #type="ngModel" [(ngModel)]="service.formData.type">
            <label class="form-check-label" for="exampleRadios1">
              Admin
            </label>
          </div>
        <div class="form-check col-md-6">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="User" #type="ngModel" [(ngModel)]="service.formData.type">
            <label class="form-check-label" for="exampleRadios2">
              User
            </label>
        </div>    
    </div>

    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
    </div>
</form>